<% provide(:title, "About") %>

<!DOCTYPE html>

		<h1>About</h1>

		<p>
			The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> is a <a href="http://www.railstutorial/org/book"><book></a> to teach web development for newbies like me who want to learn.  So far it isn't bad. I will judge at the end of the book!

			This is the sample application - so far I am at Chapter 3
		</p>

