<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>The owner of this webpage can be contacted by going to the <a href="http://www.thejealouslife.com">Jealous Sweets</a> website and clicking on 'Get in Touch'.  Ask for Nish!
</p>