<% provide(:title, "Help") %>

	<h1>Sample App Help Page</h1>
		<p>
			Find me in app/views/static_pages/help.html.erb
		</p>

		<p>
			Here is some more random text.
		</p>

		<p>
			In case you are interested, my favourite football site is <a href="http://www.football365.com"><b>Football 365</b></a>
		....I highly recommend checking it out.
		</p>

