<% provide(:title, "Home") %>

		<h1>Sample App Homepage Title</h1>

		<p>This is the homepage for Nish's implementation of the Hartl
		<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> homepage
		</p>

